@use "~@/lib/common/styles/hack-variables.scss" as variables;

.contact a {
	color: #233b92;
	&:hover {
		color: #233b92;
	}
}

.contactIcons {
	display: flex;
	flex-direction: column;
}

@media (min-width: 768px) {
	.contactIcons {
		flex-direction: row;
		justify-content: space-between;
	}
}
