@use "~@/lib/common/styles/hack-variables.scss" as variables;

.teamCard {
	height: 220px;
	width: 110px;

	.imagesContainer {
		position: relative;

		.profilePicture {
			height: 120px;
			width: 110px;
			border-radius: 3px;
			overflow: hidden;
			max-height: 110px;
			object-fit: cover;
			object-position: 0 0px;
		}

		.linkedinLogo {
			position: absolute;
			right: 0px;
			z-index: 5;
			height: 30px;
			width: 30px;
		}
	}

	.name {
		font-size: 1.25rem;
		font-weight: 500;
		line-height: 1.2;
		margin-top: 0;
		margin-bottom: 0.5rem;
	}

	.position {
		font-size: 1rem;
		font-weight: 500;
		line-height: 1.2;
		margin-top: 0;
		margin-bottom: 0.5rem;
	}
}

@media screen and (min-width: 760px) {
	.teamCard {
		height: 300px;
		width: 200px;
		text-align: left;
		margin-right: 20px;

		.imagesContainer {
			position: relative;
			margin-bottom: 0.5rem;

			.profilePicture {
				height: 200px;
				width: 200px;
				border-radius: 3px;
				overflow: hidden;
				max-height: 200px;
				object-fit: cover;
				object-position: 0 0px;
			}

			.linkedinLogo {
				position: absolute;
				right: 0px;
				z-index: 5;
				height: 30px;
				width: 30px;
			}
		}
	}
}

.footer h1 {
	margin-top: 0;
}
